exportPattern("^[[:alpha:]]+")


  importFrom("graphics", "axis", "box", "legend", "mtext", "par", "plot")
  importFrom("stats", "na.omit", "pchisq", "pnorm", "pt", "t.test")

  import("plyr")
